  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">

      <a class="navbar-brand" routerLink="/libros">
        <i class="bi bi-book-half"></i> Biblioteca
      </a>

      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/libros" routerLinkActive="active">Libros</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/autores" routerLinkActive="active" >Autores</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/generos" routerLinkActive="active">Generos</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/prestamos" routerLinkActive="active">Prestamos</a></li>
      </ul>

      <div class="ms-auto d-flex align-items-center gap-3">
        @if (!service.estaLogueado()) {
          <a routerLink="/auth/login" class="nav-link text-white">Iniciar sesión</a>
        } @else {
          <span class="text-white-50 ">{{user?.email}}</span>
          <button class="btn btn-sm btn-outline-light" (click)="cerrarSesion()">Cerrar sesión</button>
        }
    </div>

    </div>
  </nav>

  <main class="subcontainer mt-4">
    <router-outlet></router-outlet>
  </main>
