<div class="container my-4">
  <div class="bg-white p-4 rounded shadow border">

    <h2 class="mb-4">Filtrar Libros por: </h2>

    <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="row g-3 align-items-end">

        <div class="col-12 col-sm-6 col-md-4 col-lg">
          <label class="form-label">Título</label>
          <input type="text"
                 class="form-control"
                 placeholder="Titulo"
                 formControlName="titulo">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg">
          <label class="form-label">Isbn</label>
          <input type="text"
                 class="form-control"
                 placeholder="Isbn"
                 formControlName="isbn">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg">
          <label class="form-label">Autor</label>
          <input type="text"
                 class="form-control"
                 placeholder="Autor"
                 formControlName="autor">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg">
          <label class="form-label">Genero</label>
          <input type="text"
                 class="form-control"
                 placeholder="Genero"
                 formControlName="genero_nombre">
        </div>

        <div class="col-12 col-sm-6 col-md-2 col-lg-auto">
          <button type="submit"
                  class="btn btn-primary w-100">
            Filtrar
          </button>
        </div>

        <div class="col-12 col-sm-6 col-md-2 col-lg-auto">
          <button type="button"
                  class="btn btn-success w-100"
                  [routerLink]="'/libros/nuevo'">
            Añadir
          </button>
        </div>

      </div>
    </form>

  </div>
</div>

<!--Tabla para cards-->
<table class="table table-hover align-middle ">
  <thead class="table-light">
    <tr>
      <th style="width: 60px">Portada</th>
      <th>Título</th>
      <th>Autor</th>
      <th>Géneros</th>
      <th>Año</th>
      <th>Disponible</th>
    </tr>
  </thead>
  <!--Carga de las cards de libros-->
  <tbody>
    @for (libro of libros(); track libro.id) {
        <!--<app-libro-card [libro]="libro"></app-libro-card>-->
      <tr>

        <td>
          @if (libro.tiene_portada) {
            <img
              [src]="urlBackend + '/libros/' + libro.id + '/portada'"
              style="width: 40px; height: 56px; object-fit: cover"
              class="rounded"
              alt="Portada">
          } @else {
            <div
              class="d-flex align-items-center justify-content-center bg-light text-muted rounded"
              style="width: 40px; height: 56px">
              <i class="bi bi-image"></i>
            </div>
          }
      </td>

        <td>
          <a [routerLink]="['/libros', libro.id]">
            {{ libro.titulo }}
          </a>
        </td>
        <!--<pre>{{ libro | json }}</pre>-->
        <td><a [routerLink]="['/autores', libro.autor.id]" >{{libro.autor.nombre}}</a></td>

        <td>
          @for (genero of libro.generos; track genero.id) {
            <span class="badge text-bg-primary me-1">
              {{ genero.nombre }}
            </span>
          }
        </td>
        <td>{{ libro.publicacion}}</td>
        <td>
          @if (libro.disponible) {
            <span class="badge text-bg-success">
              <i class="bi bi-check-circle-fill"></i> Sí
            </span>
          }
          @else {
            <span class="badge text-bg-danger">
              <i class="bi bi-x-circle-fill"></i> No
            </span>
          }
        </td>
      </tr>
    }
    @empty {
      <tr>
        <td colspan="5" class="text-center text-muted py-4">
          No se encontraron libros.
        </td>
      </tr>
    }
  </tbody>
</table>
