<form autocomplete="off" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">

      <div class="flex flex-col">
        <label class="text-sm text-gray-600 mb-1">Título</label>
        <input type="text"
          class="form-control"
          formControlName="titulo">
          @if(formulario.get('titulo')?.errors?.['backend']){
            <div class="error">
              {{ formulario.get('titulo')?.errors?.['backend'] }}
            </div>
          }
      </div>

      <div class="flex flex-col ">
        <label class="text-sm text-gray-600 mb-1">Isbn</label>
        <input type="text"
          class="form-control"
          formControlName="isbn">

          @if(formulario.get('isbn')?.errors?.['backend']){
            <div class="error text-red-500">
              {{ formulario.get('isbn')?.errors?.['backend'] }}
            </div>
          }
      </div>

      <div class="flex flex-col">
        <label class="text-sm text-gray-600 mb-1">Año de publicacion</label>
        <input type="text"
          class="form-control"
          formControlName="anio_publicacion">

          @if(formulario.get('publicacion')?.errors?.['backend']){
            <div class="error text-red-500 ">
              {{ formulario.get('publicacion')?.errors?.['backend'] }}
            </div>
          }
      </div>

      <div class="flex flex-col">
        <label class="text-sm text-gray-600 mb-1">Numero de Páginas</label>
        <input type="text"
          class="form-control"
          formControlName="num_paginas">

          @if(formulario.get('num_paginas')?.errors?.['backend']){
            <div class="error text-red-500">
              {{ formulario.get('num_paginas')?.errors?.['backend'] }}
            </div>
          }
      </div>

      <div class="flex flex-col">
        <label class="text-sm text-gray-600 mb-1">Sinopsis</label>
        <textarea type="text"
          class="form-control"
          formControlName="sinopsis"></textarea>

          @if(formulario.get('sinopsis')?.errors?.['backend']){
            <div class="error text-red-500">
              {{ formulario.get('sinopsis')?.errors?.['backend'] }}
            </div>
          }
      </div>

      <div class="flex flex-col">
        <label class="text-sm text-gray-600 mb-1">Disponible</label>
        <input type="radio" class="form-control" formControlName="disponible" [value]=true>Si
        <input type="radio" class="form-control"formControlName="disponible" [value]=false>No
      </div>

      <div class="flex flex-col">
        <label class="text-sm text-gray-600 mb-1">Autor</label>
        <select class="form-control" formControlName="autor_id">
        @for (autor of autores(); track $index) {
            <option [value]="autor.id" >{{autor.nombre}}</option>
          }
        </select>

          @if(formulario.get('autor_id')?.errors?.['backend']){
            <div class="error text-red-500">
              {{ formulario.get('autor_id')?.errors?.['backend'] }}
            </div>
          }
      </div>

      <div class="flex flex-col">
        <label class="text-sm text-gray-600 mb-1">Genero</label>
        <select class="form-control" formControlName="genero_ids" multiple>
          @for (genero of generos(); track $index) {
            <option [value]="genero.id" >{{genero.nombre}}</option>
          }
        </select>

          @if(formulario.get('genero_ids')?.errors?.['backend']){
            <div class="error text-red-500">
              {{ formulario.get('genero_ids')?.errors?.['backend'] }}
            </div>
          }
      </div>

      <div class="flex items-end">
          <button type="submit"
            class="w-full bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition"
            >Finalizar
          </button>
      </div>

      <div class="flex items-end">
        <button class="w-full bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition "
        [routerLink]="'/libros'">Cancelar</button>
      </div>

  </div>
</form>
