<!--<div class="card w-full bg-base-100 card-md shadow-sm">
  <div class="card-body">
    <h2 class="card-title">{{libro().titulo}}</h2>
    <p>{{libro().autor_id}}</p>
    <p>{{libro().publicacion}}</p>
    <p>{{libro().sinopsis}}</p>

    <div class="justify-end card-actions">
      <a [routerLink]="['/libros', libro().id]" class="btn btn-primary">Más informacion</a>
    </div>
  </div>
</div>-->

<!---->
<tr>
  <td>
    <a [routerLink]="['/libros', libro().id]">
      {{ libro().titulo }}
     </a>
  </td>
  <td>{{ libro().autor_id }}</td>
  <td>
    @for (genero of libro().generos; track genero.id) {
      <span class="badge text-bg-primary me-1">
        {{ genero.nombre }}
      </span>
    }
    </td>
    <td>{{ libro().publicacion}}</td>
    <td>
      @if (libro().disponible) {
        <span class="badge text-bg-success">
          <i class="bi bi-check-circle-fill"></i> Sí
        </span>
      }
      @else {
        <span class="badge text-bg-danger">
          <i class="bi bi-x-circle-fill"></i> No
        </span>
      }
    </td>
</tr>
