

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Autores</h2>
  <a [routerLink]="'/autores/nuevo'" class="btn btn-primary">
    <i class="bi bi-plus-lg"></i> Nuevo autor
  </a>
</div>


<!--Tabla para cards-->
<table class="table table-hover">
  <thead class="table-light">
    <tr>
      <th>Nombre</th>
      <th>Nacionalidad</th>
      <th>Fecha de nacimiento</th>
      <th>Libros</th>
    </tr>
  </thead>
  <!--Carga de las cards de libros-->
  <tbody>
  @for (autor of autores(); track autor.id) {
    <tr>
      <td>
        <a [routerLink]="['/autores', autor.id]">
          {{ autor.nombre }} {{autor.apellidos}}
        </a>
      </td>
      <td>{{ autor.nacionalidad }}</td>

      <td>{{ autor.fecha_nacimiento}}</td>

    <td>
      @for (libro of autor.libros; track libro.id) {
        <span class="badge text-bg-primary me-1">

          {{libro.titulo}}
        </span>
      }
    </td>
  </tr>
    }
  @empty {
      <tr>
        <td colspan="5" class="text-center text-muted py-4">
          No se encontraron autores
        </td>
      </tr>
  }
  </tbody>
</table>
